<%- include("partials/header"); -%>

<h1>Compose</h1>

<form  class="item" action="/" method="post" >
    <input type="text" name="compose" placeholder="enterBlog" autocomplete="off">
    <button type="submit"name="publish">Publish</button>
</form>

<%- include("partials/footer"); -%>